<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="//unpkg.com/@atlaskit/css-reset/dist/bundle.css" />
  <style>
    .ac-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
  </style>
  {{{styleTags}}}
<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript" data-options="sizeToParent:true;"></script>
</head>
<body>
  <section id="content" role="main" class="ac-content">{{{body}}}</section>
  <script src="{{reactSource}}"></script>
  <script src="{{reactDomSource}}"></script>
  <script id="__root_component_script" src="{{rootComponentSource}}" data-props="{{props}}"></script>
  <script>
    var props = JSON.parse(document.getElementById('__root_component_script').getAttribute('data-props'));
    {{#if browserOnly}}
      ReactDOM.render(React.createElement(window.__root_component.default, props), document.getElementById('content'));
    {{else}}
      ReactDOM.hydrate(React.createElement(window.__root_component.default, props), document.getElementById('content'));
    {{/if}}
  </script>
</body>
</html>
